.option {
    background-color: #3535de;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
  }
  
  .option:hover {
    opacity: 1;
  }
  
  #options-container .option p {
    margin-bottom: 0;
  }
.correct{
  background-color: #de7635;
  font-weight: bold;
}
.wrong{
  background-color:#de3535;
  opacity: 0.6;
}
  .hide {
    display: none;
  }